@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I hate testing random stuff AAAHG.</p>
Upload to the branch pls
<p>This is the branch les go</p>
</div>
I Hate niggers

